# This configuration is for {{ ansible_facts['nodename'] }}

    upstream webservers {
        {% for host in groups['webservers'] %}
            server {{ hostvars[host]['ansible_facts']['nodename'] }}:{{ http_port }};
        {% endfor %}
        
        # server web01:8005;
        # server web02:8005;
    }

    upstream apache_servers {
        server web01:8005;
        server web02:8005;
    }

    server {
        listen 80;

        location / {   
                proxy_pass http://webservers;
        }
    }

    server {
        listen 82;

        location / {   
                proxy_pass http://apache_servers;
                proxy_set_header Host $host;
        }
    }
