Listen 8005

<VirtualHost *:8005>
    # ProxyPreserveHost On
    # ProxyPass /restaurant/static/ http://web01:8005/
    # ProxyPassReverse /restaurant/static/ http://web01:8005/

    # DocumentRoot /home/vagrant/littlelemon/

    # ServerName lit.lemon

    Alias /static/ /home/vagrant/littlelemon/static/

    <Directory /home/vagrant/littlelemon/static/>
        
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
        Allow from all

    </Directory>


    ErrorLog /home/vagrant/logs_folder/apache.error.log
    CustomLog /home/vagrant/logs_folder/apache.custom.log common
</VirtualHost>